*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
obj
obj/AlgorithmsDS.csproj.nuget.cache
obj/AlgorithmsDS.csproj.nuget.g.props
obj/AlgorithmsDS.csproj.nuget.g.targets
obj/project.assets.json
.vs/AlgorithmsDS/xs/sqlite3/db.lock
.vs/AlgorithmsDS/xs/sqlite3/storage.ide
.vs/AlgorithmsDS/xs/sqlite3/storage.ide-shm
.vs/AlgorithmsDS/xs/sqlite3/storage.ide-wal
bin/Debug/netcoreapp2.1/AlgorithmsDS.dll
bin/Debug/netcoreapp2.1/AlgorithmsDS.pdb
bin/Debug/netcoreapp2.1/AlgorithmsDS.dll
bin/Debug/netcoreapp2.1/AlgorithmsDS.pdb
